{% extends 'admin/admin.html' %}

{% block data%}
<div class="options">
    <div id="opt_exam_list">Exam List</div>
    <div id="opt_exam_new">New Exam</div>
    <div id="id3">option3</div>
</div>
<div class="exam_list">
    <div class = "exams" id="exam1">
        <div class="data_exam" id= "data_exam1">Exam 1</div> 
        <div class ='info_exam' id="info_exam1">
            date: 12.01.23 <br>
            time: 12:00:00 <br>
            Duration : 02:00:00 
        </div> 
        <button>more</button>
    </div>
</div>

{% endblock %}

{%block jscript%}
<script src="{{ url_for('static', filename='exam.js') }}"></script>
{% endblock %}