*{
    padding: 0;
    margin:0;
}

/* Universal */

body{
    position: fixed;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header{
    /* flex: .05; */
    background-color:rgb(84, 134, 229);
    display: flex;
    height: auto;
    /* width: 100px; */
}
.logo{
    font-size: 20px;
    /* margin: 10px; */
    min-width: 100px;
    width: 10%;
    text-align: center;
    padding: 10px 0;
    border-right: solid 2px;
    background-color: cornflowerblue;

}

.win{
    width: 80%;
    /* background-color: white; */
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

.profile{
    width: 10%;
    background-color: grey;


}


                                                                /* navigatiom bar */



.nav {
    border-right: solid 2px;

    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color: cornflowerblue;
    min-width: 100px;
    /* background-color: rgb(219, 219, 219); */
    /* align-items: center; */
    /* width:80%; */
    /* background-color: azure; */
    /* justify-content: center; */

}

.nav div{
    background-color: rgb(214, 214, 214);
    padding: 5px 0px;
    border: solid;
    border-radius: 8px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}
.nav a{
    text-decoration: none;
}
.nav div span{
    
    padding: 10px 0;
}



main{
    
    display: flex;
    /* flex: 5; */
    /* background-color: bisque; */
    width: 100%;
    height: 100%;
    /* border: solid; */
}


.content{
    background-color: rgb(217, 217, 217);
    width: 90%;
    height: 100%;
    /* right: 0; */
    /* border-radius: 15px; */
    /* position: relative; */
    /* margin: 10px; */

}

.content div{
    display: flex;
}




/* homepage */


.homepage{
    display: flex;
    /* background-color: aliceblue; */
    margin: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);

}

.exam_home{
    flex:.8;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color:rgb(235,235,235);
    margin: 5px;
    overflow-y:auto;
}

#exam_list_heading{
    padding: 5px;
    justify-content: center;
    font-size: larger;
    
}


.exams{
    margin: 10px 10px;
    padding:  10px;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    border: solid grey;
    justify-content: space-between;
}

.info_exam{
    text-align: center;
}

.exams button{
    align-self: center;
    border: none;
    padding: 3px;
    /* background-color: rgb(0, 0, 0, 0); */
    /* background-color: ; */
}


.user_home{
    flex: .2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: beige;
    margin: 5px;
}

.user_home div{
    margin: 10px 10px;
    padding:  10px;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    border: solid grey;
}


                                    /* exam panel */




.options{
    height: calc(5% - 5px);
    min-height: 30px;
    margin: 5px;
    background-color: hsl(0, 0%, 94%);
    border-radius: 5px;
    align-items: center;
} 

.options div{
    padding:0 10px;
    border: solid 1px grey;
    margin: 0 10px;
    border-radius: 10px;
}

.exam_list{
    flex:.8;
    display: flex;
    height: calc(100% - 5px);
    border-radius: 5px;
    flex-direction: column;
    background-color:rgb(235,235,235);
    margin: 5px;
    overflow-y:auto;
}

            /* result list */

.result_list{
    /* flex:.8; */
    display: flex;
    height: calc(100% - 5px);
    border-radius: 5px;
    flex-direction: column;
    background-color:rgb(235,235,235);
    margin: 5px;
    overflow-y:auto;
}

.result_exam{
    margin: 10px 10px;
    padding:  10px;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    border: solid grey;
    justify-content: space-between;
    
}