.homepage{
    display: flex;
    /* background-color: aliceblue; */
    margin: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);

}

.exam_home{
    flex:.8;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color:rgb(235,235,235);
    margin: 5px;
    overflow-y:auto;
}

#exam_list_heading{
    padding: 5px;
    justify-content: center;
    font-size: larger;
    
}


.exams{
    margin: 10px 10px;
    padding:  10px;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    border: solid grey;
    justify-content: space-between;
}

.info_exam{
    text-align: center;
}

.exams button{
    align-self: center;
    border: none;
    padding: 3px;
    /* background-color: rgb(0, 0, 0, 0); */
    /* background-color: ; */
}


.user_home{
    flex: .2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: beige;
    margin: 5px;
}

.user_home div{
    margin: 10px 10px;
    padding:  10px;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    border: solid grey;
}