<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{url_for('static',filename="admin.css")}}>
    </head>
    <body>
        <header>
            <div class="appname">App</div>
            <div class="nav">
                <div id="home">Home</div>
                <div id="users">Users</div>
                <div id="exam">Exams</div>
            </div>
            <div class="profile">
                Admin
            </div>
        </div>
        </header>
        <main>
            <div id="user_add"><span>Add User</span></div>
            <div id="new_exam"><span>New Exam</span></div>
            <div id="results"><span>Results</span></div>
        </main>
        <div class="board">
            <div id="examlist">Exam List</div>
            <div id="userlist">Userlist</div>
            <div id="requests">requests</div>
        </div>
        
    </body>
</html>