<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}">
    </head>
    <body>
        <aside>
            <div id="exams_nav">
                <span><a href="{{url_for('exams_panel')}}">Exams</a></span></div>
            <div id="result_nav">
                <span><a href="{{url_for('results_panel')}}">Results</a></span></div>
            <div id="attendence_nav">
                <span><a href="#">Attendence</a></span></div>
            <div id="user_nav">
                <span><a href="{{url_for('users_panel')}}">Users</a></span></div>
            <!-- <div id="security_nav"><span>S</span></div> -->
            <!-- <div id="settings_nav"><span>St</span></div> -->
            <div id="logout_nav"><span>Logout</span></div>
        </aside>
        <main>
            {% block body %}
                
            {% endblock %}
        </main>
    </body>
</html>