<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="D:\python_projects\examsystem\static\admin.css">
    </head>
    <body>
        <header>Header</header>
        <main>
            <div class="left">
                 <div id="Exams_man">Exams</div>
                <div id="User_man">Users</div>
                <div id="info_man">Info</div>
                <div id="backup_man">Backup</div>
            </div>
            <div class="mid">
                <div class="examlist">
                    <ul>
                        <li>Exam 1</li>
                        <li>Exam 2</li>
                    </ul>
                </div>
            </div>
            <div class="right">
                
            </div>
        </main>
        
    </body>
</html>