<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">     
    <link rel="stylesheet" href="{{ url_for('static', filename='svelte_app/public/build/bundle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='svelte_app/public/build/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='svelte_app/public/global.css') }}">

</head>

<header>
    <div class="logo">iiEm</div>
    <div class="win">
        {{title}}
    </div>
        <div class="profile"></div>
</header>
    <main>
        <div class="nav">
            <div id="home"><a href="{{url_for('admin_homepage')}}">Home</a></div> 
            <div id="home"><a href="{{url_for('exams')}}">Exams</a></div>
            <div id="home"><a href="{{url_for('results')}}">Results</a></div>
            <div id="home"><a href="{{url_for('students')}}">Students</a></div>
            <!-- <div id="home">Attendence</div> -->
        </div>
        <div id="content">
            
        </div>
    </main>
<script src="{{ url_for('static', filename='svelte_app/public/build/bundle.js') }}"></script>
</html>